.icon.icon-pause,
.icon.icon-play {
  font-size: 17px;
}
.icon.icon-play {
  left: 185px;
}
.icon.icon-pause {
  left: 205px;
}
.icon-pause:after {
  content: '⏸';
}

.icon-play:after {
  content: '▶';
}
.time {
  position: absolute;
  left: 235px;
  color: rgb(128, 128, 128);
  font-size: 13px;
}
